.hero {
  position: relative;
  background: url('../images/heoimg.jpg') center center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
  overflow: hidden;
  height: 100vh;
}


.hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.5rem;
  margin-top: 20px;
}
.hero .btn {
  margin-top:10%;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 5px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.hero .btn:hover {
  background-color: black;
  color: #fff;
}



.lighting-effect {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ball {
  position: absolute;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  animation: float 6s ease-in-out infinite, moveBall 6s ease-in-out infinite;
}

.ball-1 {
  background-color: #32CD32;
  animation-delay: 0s;
}

.ball-2 {
  background-color: #FF69B4;
  animation-delay: 1s;
}

.ball-3 {
  background-color: #FFD700;
  animation-delay: 2s;
}

.ball-4 {
  background-color: #00BFFF;
  animation-delay: 3s;
}

.ball-5 {
  background-color: #FF4500;
  animation-delay: 4s;
}


@keyframes float {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -150%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes moveBall {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(100px) translateY(50px);
  }
  50% {
    transform: translateX(200px) translateY(100px);
  }
  75% {
    transform: translateX(150px) translateY(150px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@media (max-width: 768px) {
  .hero {
    height: 50vh; /* Adjust the height for mobile screens */
    padding: 50px 20px; /* Adjust padding for mobile */
  }

  .hero h1 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .ball {
    font-size: 1rem;
    padding: 10px;
  }
}
